{% extends 'base.html' %}
{% block content %}

<h1>{{  nama_aplikasi  }}</h1>

<h5>NPM: </h5>
<p>{{ npm }}</p>

<h5>Name:</h5>
<p>{{ nama }}</p>

<h5>Class:</h5>
<p>{{ kelas }}</p>

<hr>

<h3>Welcome, {{ current_user }}!</h3>
<h5>Sesi terakhir login: {{ last_login }}</h5>

<a href="{% url 'main:logout' %}">
  <button>Logout</button>
</a>

<hr>

<a href="?filter=all">
    <button type="button">All Products</button>
</a>
<a href="?filter=my">
    <button type="button">My Products</button>
</a> 

<hr>

<a href="{% url 'main:create_product' %}">
  <button>+ Add</button>
</a>

{% if not product_list %}
<p>Belum ada produk terdaftar pada football shop.</p>
{% else %}

{% for product in product_list %}
<div>
  <h2><a href="{% url 'main:show_product' product.id %}">{{ product.name }}</a></h2>

  <p><b>{{ product.get_category_display }}</b>{% if product.is_featured %} | 
    <b>Featured</b>{% endif %} | <i>{{ product.added_at|date:"d M Y H:i" }}</i> 
    </p>

  {% if product.thumbnail %}
  <img src="{{ product.thumbnail }}" alt="thumbnail" width="150" height="100">
  <br />
  {% endif %}

  <h3> Price : {{ product.price }}</h3>

  <p>{{ product.description|truncatewords:25 }}...</p>

  <p><a href="{% url 'main:show_product' product.id %}">
    <button>Detail</button></a>
  </p>
</div>

<hr>
{% endfor %}

{% endif %}

{% endblock content %}